<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bankStartPage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EntryController</display-name>
    <servlet-name>EntryController</servlet-name>
    <servlet-class>com.bankrupt.controller.EntryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntryController</servlet-name>
    <url-pattern>/EntryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankLoginController</display-name>
    <servlet-name>BankLoginController</servlet-name>
    <servlet-class>com.bankrupt.controller.BankLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankLoginController</servlet-name>
    <url-pattern>/BankLoginController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ViewController</display-name>
    <servlet-name>ViewController</servlet-name>
    <servlet-class>com.bankrupt.controller.ViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewController</servlet-name>
    <url-pattern>/ViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadController</display-name>
    <servlet-name>DownloadController</servlet-name>
    <servlet-class>com.bankrupt.controller.DownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadController</servlet-name>
    <url-pattern>/DownloadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountExistanceController</display-name>
    <servlet-name>AccountExistanceController</servlet-name>
    <servlet-class>com.bankrupt.controller.AccountExistanceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountExistanceController</servlet-name>
    <url-pattern>/AccountExistanceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionController</display-name>
    <servlet-name>TransactionController</servlet-name>
    <servlet-class>com.bankrupt.controller.TransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionController</servlet-name>
    <url-pattern>/TransactionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.bankrupt.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyLoanController</display-name>
    <servlet-name>ApplyLoanController</servlet-name>
    <servlet-class>com.bankrupt.controller.ApplyLoanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyLoanController</servlet-name>
    <url-pattern>/ApplyLoanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EduacationController</display-name>
    <servlet-name>EduacationController</servlet-name>
    <servlet-class>com.bankrupt.controller.EduacationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EduacationController</servlet-name>
    <url-pattern>/EduacationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalController</display-name>
    <servlet-name>PersonalController</servlet-name>
    <servlet-class>com.bankrupt.controller.PersonalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalController</servlet-name>
    <url-pattern>/PersonalController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.bankrupt.log.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>AccountUpdateController</display-name>
    <servlet-name>AccountUpdateController</servlet-name>
    <servlet-class>com.bankrupt.controller.AccountUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountUpdateController</servlet-name>
    <url-pattern>/AccountUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.bankrupt.controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  
</web-app>